<div id="thanks">
  <i class="far fa-check-circle"></i>
  <h1>Merci pour votre achat !</h1>
  <p>Vous allez recevoir une confirmation de votre commande par email à <%= current_client.email %></p>
  <p><%= link_to "Retour à l'accueil", root_path %></p>
</div>
